body {
    background-color: purple;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    border-left: 4px solid pink;    
}

ul {
    
}

nav {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 4px solid pink;
    width: 20%;
    box-sizing: border-box;
}

nav ul {
    padding: 0px;
    margin: 0px;
    
}

nav li {
    /*display: inline-block;*/
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

nav li  a {
    display: block;
    padding: 7px;
    margin: 7px;
    background-color: pink;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    
}

nav li  a:hover {
    color: pink;
    background-color: white;    
}

main {
    margin-left: calc(20% + 5px);
    padding-left: 20px;
    border-left: 4px solid pink;
}

.treba {
    background-color: aqua;
    position: fixed;
    z-index: -5;
    top: 85px;
    left: 390px;
    opacity: 0.5;
}






