body {
    background-color: maroon;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

ul {
    
}

nav {
    position: absolute;
    top: 0px;
    border-top: white solid 4px;
    border-bottom: white solid 2px;
    width: 100%;
    float: left;
    background-color: black;
}

nav ul {
    padding:0px;
    margin:0px;
    width: 66%;
    float: right;
    text-align: right;
}

nav li {
    display: inline-block;
}

main {
    margin-left:10%;
    margin-right:10%;
    position:relative;

}

nav a {
    color: white;
    display: block;
    padding: 10px;
    
    
}

nav li a:hover {
    color: white;
    background-color: blue;
}

header {
    width: 100%;
    float: left;
    font-size: 120%;
    color: white;
    background-color: #d20000;
    margin-top: 1em;
    height: 14em;
    margin-bottom: 20px;
}


.nadpis {
    text-align:center;
}

h1 {
    font-family: 'Nosifer', cursive;
    text-align:center;
}


.koncobrazek {
    width:450px;
    height:400px;
    position:relative;
    left:30%;    
}
.konobrazek {
    width:450px;
    height:300px;
    position:relative;
    left:30%;    
}

.brazek {
    top: 20px;
    left: 28%;
    width: 50%;
    height: 200px;
    position: absolute;
    background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/642568-200.png");
}

footer {
    position: relative;
    background: #d20000;
    padding: 160px 0px 75px;
    margin-top: 40px;
}


footer p {
    position:relative;
    top:-65px;
    margin-left:20px;
    padding:8px;
    border-radius: 10px;
    float: left;
    background-color: #E900EF;
    border: 3px solid black;
}

footer aside {
    position:relative;
    top:-50px;
    margin-right:20px;
    float: right;
    background-color: #E900EF;
    border-radius: 10px;
    padding: 8px;
    border: 3px solid black;
}
