body {
    background-color: black;
    color: white; 
}

h2 {
  position: fixed;
  top: 0px;
  left: 100px;
  background-color: rgb(10%,10%,15%);
}

a:link    {
    color: Gold
}
    
a:visited    {
    color: Gold
}

a:active    {
    color: red
}

a    {
    font-weight: bolder; text-decoration: none
}

a:hover    {
    color: orange
}
